<div class="text-center w-full">
  <h1 class="font-bold text-4xl mb-10">StaticPages#home</h1>
  <%=
    button_to 'login with twitter',
              '/auth/twitter2',
              class: 'underline text-xl font-semibold',
              method: :post,
              data: {
                turbo: false,
              }
  %>
</div>
