<div>
  <h1 class="font-bold text-4xl">Twipper#index</h1>
  <pre class="whitespace-pre-wrap">
    <%= @me %>
  </pre>
  
  <pre class="whitespace-pre-wrap">
    <%= @my_tweets%>
  </pre>
  
  <pre class="whitespace-pre-wrap">
    <%= @liked_tweets%>
  </pre>
  
  <pre class="whitespace-pre-wrap">
    <%= @bookmarks%>
  </pre>

  <% console %>
</div>
